<!DOCTYPE html>
<html>
<head>
  <title>Poapproval</title>
  <%#= stylesheet_link_tag    "casting", media: "all", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%#= csrf_meta_tags %>
</head>
<body>
 <div><%#= image_tag("logo1.png") %></div>
 <center><%= yield %></center>
</body>
</html>

